**/.*
node_modules
bower_components
npm-debug.log
coverage
kawari/bin
kawari/build/conv.sh
kawari/build/BUILD.TXT
kawari/build/src
kawari/build/contrib
kawari/build/mach/gcc
kawari/build/mach/cygwin
kawari/build/mach/darwin
kawari/build/mach/freebsd
kawari/build/mach/linux
kawari/build/mach/mingw
kawari/build/mach/js
Makefile
gcc.mak.patch

